# SSH keys
*.pem
*.key
*.pub
bei2_key

# VSCode settings
.vscode/

# Terraform state
*.tfstate
*.tfstate.*
*.backup
*.log
crash.log

# Terraform working dirs
.terraform/
.terraform.lock.hcl
*.tfplan

# Vars (comment out if you want to commit tfvars templates)

# Jenkins specific
secrets/
*.xml
*.jpi
war/

.vscode/